<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emission Visualizer</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"
          media="screen,projection"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nouislider.js') }}"></script>
</head>

<body>
<main>
<div class="container">

<!-- Title -->
    <div class="row">
        <div class="col s12">
            <h4 class="center">Emission Visualizer</h4>
            {% if not received %}
                <h6 class="center grey-text" style="margin-bottom: 0px">Choose a country and a date range</h6>
            {% endif %}
        </div>
    </div>

<!-- Form -->
    <form method="POST" id="input" autocomplete="off">

    <!-- Country Selector -->
        <div class="col s10 m11">
            <label style="margin-top: 0px">Choose one or more countries</label>
        </div>
        <div class="row valign-wrapper">
            <div id="country_selector" class="col s10 m11 chips chips-autocomplete">
            </div>
            <div class="col s2 m1">
                <a class="btn-floating btn-large waves-effect waves-light" onclick="submit_form()">
                    <i class="material-icons">forward</i>
                </a>
            </div>
        </div>
        <input id="input_country_list" name="input_country_list" value="" hidden>

    <!-- Year selector -->
        <div class="row" style="margin-left: 1vw; margin-right: 1vw">
            <div id="year-selector" class="col s12"></div>
            <input type="number" id="year_min" name="selected_year_min" value="{{ year_min }}" hidden>
            <input type="number" id="year_max" name="selected_year_max" value="{{ year_max }}" hidden>
            <label for="year-selector">Choose a date range</label>
        </div>

    <!-- Per capita selector -->
        <div class="row">
            <div class="col s12 center">
                <label>
                <input type="checkbox" id="selected_data" name="selected_data" onclick="submit_form()"
                    {% if data_type == "emissions_per_capita" %}
                       checked
                    {% endif %}/>
                    <span>Per Capita</span>
                </label>
            </div>
        </div>
    </form>

    <!-- Loading animation -->
    <div id="loading_animation" class="col s12 progress scale-transition scale-out" hidden>
        <div class="indeterminate"></div>
    </div>

    <!-- Error messages -->
    {% if invalid %}
        <div class="row">
            <div class="col s12 center">
                <h6>Please input a valid country</h6>
            </div>
        </div>

    {% elif is_empty and received %}
        <div>
            <p>
                No data available for chosen countries between {{ year_min }} and {{ year_max }}
            </p>
        </div>

<!-- Chart if no errors triggered -->
{% elif received and not invalid %}
    <div style="position: relative; height: 45vh">
        <canvas id="myChart"></canvas>
    </div>
{% endif %}
</div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 valign-wrapper">
                <h6><a href="https://github.com/rargh/emissionVisualizer" target="_blank"><i class="grey-text text-darken-3 fab fa-github fa-2x"></i></a>
                Source code available on github</h6>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Eetu Närhi 2019
        </div>
    </div>
</footer>

<!-- Scripts -->

<!-- Script to configure chart-->
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
    type: 'line',
    options: {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: {% if data_type == 'emissions' %} "Total emissions (Kilotonnes)" {% else %}
                    "Emissions per capita (Tonnes per capita)"{% endif %}
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: "Year"
                }
            }]
        }
    },
    data: {
        labels: {{ labels }},
        datasets: [{% for i in range(country_amount) %}{
            label: "{{ input_country_list[i] }}",
            borderColor: "{{ color_list[i] }}",
            fill: false,
            data: [{% for value in values[i] %}
                        {% if value == None %}
                            null,
                        {% else %}
                            {{ value }},
                        {% endif %}
                    {% endfor %}
                ],
        },{% endfor %}]
    },
});
</script>

<!-- Script to configure autocomplete input -->
<script>
    $(document).ready(function(){
        $('.chips-autocomplete').chips({
            autocompleteOptions: {
                data: {
                    {% for item in generic_country_list %}
                        '{{ item }}': null,
                    {% endfor %}
                },
                minLength: 0,
                onAutocomplete: function(){
                    submit_form()
                }
            },
            onChipAdd: function(){
                update_country_list()
            },
            onChipDelete: function(){
                update_country_list()
            },
            data: [
                {% for item in input_country_list %}
                    {tag: '{{ item }}'},
                {% endfor %}
            ]
        });
        update_country_list()
    });
</script>

<!-- Script to configure slider -->
<script>
    var slider = document.getElementById('year-selector');
    noUiSlider.create(slider, {
        start: [{{ year_min }}, {{ year_max }}],
        connect: true,
        step: 1,
        orientation: 'horizontal',
        range: {
            'min': 1960,
            'max': {{ current_year }}
        },
        format: wNumb({
            decimals: 0
        })
    });

    // Update html inputs manually and submit form when slider is set
    slider.noUiSlider.on('set', function(values, handle){
        if (handle == 0) {
            document.getElementById("year_min").setAttribute("value", values[handle]);
        }else if (handle == 1) {
            document.getElementById("year_max").setAttribute("value", values[handle]);
        }
        submit_form()
    });

</script>

<!-- Script to set display loading animation and submit form -->
<script>
    var loader = document.getElementById("loading_animation");
    function submit_form() {
        loader.removeAttribute("hidden");
        loader.setAttribute("class", "col s12 progress scale-transition scale-in");
        document.getElementById("input").submit();
    }
</script>

<!-- Submit on pressing enter on text input -->
<script>
    var input = document.getElementById("country_selector");

    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            submit_form()
        }
    });
</script>

<!-- Copy values from chips and update input appropriately -->
<script>
    var country_cache = "";

    var input = document.getElementById("input_country_list");

    function update_country_list(){
        var chips = document.getElementsByClassName("chip");
        country_cache = "";
        for (var i = 0; i < chips.length; i++){
            var content = chips[i].innerHTML;
            var country = content.slice(0, content.search('<'));
            country_cache = country_cache.concat(country + ";");
        }
        country_cache = country_cache.slice(0,-1);
        input.setAttribute('value', country_cache);
    }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</body>
</html>