<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emission Visualizer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"
          media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{{ url_for('static', filename='js/chart.js/dist/Chart.js') }}"></script>
</head>
<body>
<div class="container">
<div class="row">
    <form method="POST" id="selector">
        <select name="selected_country">
            {%  for option in country_list %}
                <option value="{{ option }}"
                {% if option == country %}
                        selected
                {% endif %}
                >{{ option }}</option>
            {% endfor %}
        </select>
        <select name="selected_year_min">
            {% for year in generic_year_list %}
                <option value="{{ year }}"
                {% if year == year_min %}
                    selected
                {% endif %}
                >{{ year }}</option>
            {% endfor %}
        </select>
        <select name="selected_year_max">
            {%  for year in generic_year_list %}
            <option value="{{ year }}"
            {% if year == year_max %}
                    selected
            {% endif %}
            >{{ year }}</option>
            {% endfor %}
        </select>
        <label>
            <input type="checkbox" id="selected_data" name="selected_data"
            {% if data_type == "emissions_per_capita" %}
                checked
            {% endif %}/>
            <span>Per Capita</span>
        </label>
    </form>
    <button type="submit" form="selector">Submit</button>
</div>

{% if is_empty and received%}
    <div>
        <p>
            No data available for {{ country }} between {{ year_min }} and {{ year_max }}
        </p>
    </div>
{% elif received %}
    <div>
        <canvas id="myChart"></canvas>
    </div>
{% endif %}
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
    type: 'line',

    data: {
        labels: {{ labels }},
        datasets: [{
            label: "Emissions " + {% if data_type == 'emissions_per_capita' %} "per capita " + {% endif %}
                "in " + "{{ country }}",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ values }},
        }]
    },

    // Configuration options go here
    options: {}
});
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</body>
</html>